@-webkit-keyframes ldio-38sm65atd6d-1-80b6cf6e {
    0% {
        top: 18px;
        height: 64px;
    }
    50% {
        top: 34px;
        height: 32px;
    }
    to {
        top: 34px;
        height: 32px;
    }
}
@keyframes ldio-38sm65atd6d-1-80b6cf6e {
    0% {
        top: 18px;
        height: 64px;
    }
    50% {
        top: 34px;
        height: 32px;
    }
    to {
        top: 34px;
        height: 32px;
    }
}
@-webkit-keyframes ldio-38sm65atd6d-2-80b6cf6e {
    0% {
        top: 22px;
        height: 56px;
    }
    50% {
        top: 34px;
        height: 32px;
    }
    to {
        top: 34px;
        height: 32px;
    }
}
@keyframes ldio-38sm65atd6d-2-80b6cf6e {
    0% {
        top: 22px;
        height: 56px;
    }
    50% {
        top: 34px;
        height: 32px;
    }
    to {
        top: 34px;
        height: 32px;
    }
}
@-webkit-keyframes ldio-38sm65atd6d-3-80b6cf6e {
    0% {
        top: 26px;
        height: 48px;
    }
    50% {
        top: 34px;
        height: 32px;
    }
    to {
        top: 34px;
        height: 32px;
    }
}
@keyframes ldio-38sm65atd6d-3-80b6cf6e {
    0% {
        top: 26px;
        height: 48px;
    }
    50% {
        top: 34px;
        height: 32px;
    }
    to {
        top: 34px;
        height: 32px;
    }
}
.ldio-38sm65atd6d div[data-v-80b6cf6e] {
    position: absolute;
    width: 12px;
}
.ldio-38sm65atd6d div[data-v-80b6cf6e]:first-child {
    left: 19px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    -webkit-animation: ldio-38sm65atd6d-1-80b6cf6e 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation: ldio-38sm65atd6d-1-80b6cf6e 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}
.ldio-38sm65atd6d div[data-v-80b6cf6e]:nth-child(2) {
    left: 44px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    -webkit-animation: ldio-38sm65atd6d-2-80b6cf6e 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation: ldio-38sm65atd6d-2-80b6cf6e 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}
.ldio-38sm65atd6d div[data-v-80b6cf6e]:nth-child(3) {
    left: 69px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    -webkit-animation: ldio-38sm65atd6d-3-80b6cf6e 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation: ldio-38sm65atd6d-3-80b6cf6e 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    -webkit-animation-delay: undefineds;
    animation-delay: undefineds;
}
.loadingio-spinner-pulse-diabfbay7a8[data-v-80b6cf6e] {
    width: 36px;
    height: 36px;
    display: inline-block;
    overflow: hidden;
    background: none;
    align-self: center;
}
.ldio-38sm65atd6d[data-v-80b6cf6e] {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.36);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-origin: 0 0;
}
.ldio-38sm65atd6d div[data-v-80b6cf6e] {
    box-sizing: content-box;
}
.modal-window[data-v-a2fc05ac] {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 320px;
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: #ddd;
    align-items: center;
    border-radius: 8px;
    color: #fff;
    background: linear-gradient(152.97deg, hsla(0, 0%, 8%, 0.8), hsla(0, 0%, 8%, 0.8));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-window > h1[data-v-a2fc05ac],
.modal-window > p[data-v-a2fc05ac] {
    padding: 15px;
}
.modal-window > button[data-v-a2fc05ac] {
    width: 120px;
    background: hsla(0, 0%, 100%, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
    border: 1px solid hsla(0, 0%, 100%, 0.3);
    color: #fff;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}
.order_link[data-v-a2fc05ac] {
    width: 120px;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #fff;
    background-color: #7fc15e;
    text-decoration: none;
}
.button-group[data-v-105d108c] {
    width: 280px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hud-button[data-v-105d108c] {
    border-radius: 10px;
    margin-right: 2.5px;
    margin-left: 2.5px;
    margin-top: 10px;
    flex-shrink: 0;
}
.hud-button[data-v-105d108c],
.modal-button[data-v-105d108c] {
    background: hsla(0, 0%, 100%, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid hsla(0, 0%, 100%, 0.3);
    color: #fff;
    height: 40px;
}
.modal-button[data-v-105d108c] {
    width: 40px;
    border-radius: 40px;
    align-self: flex-end;
}
.active[data-v-105d108c] {
    background: linear-gradient(66.04deg, #890eb8, #df306a);
}
.button-group-element[data-v-105d108c] {
    scroll-behavior: smooth;
    width: 260px;
    display: flex;
    overflow-x: scroll;
}
.button-group-element[data-v-105d108c]::-webkit-scrollbar {
    display: none;
}
.arrow-buttons[data-v-105d108c] {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 340px;
}
.arrow[data-v-105d108c] {
    min-width: 40px !important;
    width: 40px !important;
    height: 40px;
    border-radius: 40px;
    color: #fff;
}
.arrow[data-v-105d108c],
.steps[data-v-a8d9b870] {
    background: hsla(0, 0%, 100%, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid hsla(0, 0%, 100%, 0.3);
}
.steps[data-v-a8d9b870] {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 320px;
    border-radius: 12px;
    color: #333;
}
.step[data-v-a8d9b870] {
    height: 360px;
}
.pagination[data-v-a8d9b870] {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.dots[data-v-a8d9b870] {
    padding: 15px;
    color: #fff;
}
.text[data-v-a8d9b870],
.title[data-v-a8d9b870] {
    padding: 15px;
}
.dot[data-v-a8d9b870] {
    padding: 2px;
    font-size: 12px;
}
.current[data-v-a8d9b870] {
    color: #333;
}
.arrowButton[data-v-a8d9b870] {
    min-width: 40px !important;
    width: 40px !important;
    height: 40px;
    border-radius: 40px;
    border: 1px solid hsla(0, 0%, 100%, 0.3);
}
.arrowButton[data-v-a8d9b870],
.startButton[data-v-a8d9b870] {
    background: hsla(0, 0%, 100%, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    color: #fff;
}
.startButton[data-v-a8d9b870] {
    border-radius: 8px;
    border: 1px solid hsla(0, 0%, 100%, 0.3);
}
#app {
    margin: 0;
    padding: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background-color: #2c3e50;
}
#cocktailsgroup,
#foodgroup,
#load {
    display: none;
}

*{
  overflow-y:hidden
}
